.homepage{
    padding-top: 20px;
    padding-bottom: 70px;
    font: outline;
    font-family: 'Times New Roman', Times, serif;
}

.hometext {
    font-weight: lighter;
    font-weight: 950;
    color:#7986cb;
}

.paragraphtext {
    font: small-caption;
    color:#7e94ff;
}

.tagspace {
    margin-bottom: 50px;
    margin-top: 50px ;
}